/* Calculator */
.calcGrid{
    height: 600px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
}
#display{
    grid-column-start: 1;
    grid-column-end: 5;
}
#number{
    grid-column-start: auto;
    grid-row-start: auto;
}
#plus{
    grid-column-start: 4;
    grid-row-start: 5;
}
#minus{
    grid-column-start: 4;
    grid-row-start: 4;
}
#division{
    grid-column-start: 4;
    grid-row-start: 3;
}
#mult{
    grid-column-start: 4;
    grid-row-start: 2;
}
#equals{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
}

#clearAll{
    grid-column-start: 3;
    grid-row-start: 5;
}
.button .p{
    font-size: xx-large;
}

/* ////////////////////////////////////////7 */


/*////EXERCISE 6 ////////////*/

#sourceImg{
    width: 500px;

}













ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }