/* Calculator */
.calcGrid{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    
}

#display{
    grid-column-start: 1;
    grid-column-end: 5;
}
#number{
    grid-column-start: auto;
    grid-row-start: auto;
}
#plus{
    grid-column-start: 4;
    grid-row-start: 5;
}
#minus{
    grid-column-start: 4;
    grid-row-start: 4;
}
#division{
    grid-column-start: 4;
    grid-row-start: 3;
}
#mult{
    grid-column-start: 4;
    grid-row-start: 2;
}
#equals{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
}

#clearAll{
    grid-column-start: 3;
    grid-row-start: 5;
}
.button .p{
    font-size: xx-large;
}

/* ////////////////////////////////////////7 */


/*////EXERCISE 6 ////////////*/



#sourceImg{
    max-width: 100%;
}

.windowMockup {
    display:grid;
    grid-template-rows: 40px 400px;
    height: 45%;
    border-radius: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: grey;
    width: 45%;
    margin: 0 auto;
}
.fakeBar{
    grid-row-start: 1;
    grid-row-end: 2;
}

.windowContent{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    grid-row-start: 2;
    grid-row-end: 2;
}

h2{
    font-size: medium;
}