body{
    padding: 0;
    margin: 0;
    background: linear-gradient(#3204fdba, #9907facc), url(../styles/land.jpg) no-repeat top center;
}

header{
    height: 100vh;
    color: white;
    font: bold 2em/2em monospace;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
 }